{% extends 'main.html' %}
{% load static %}
{#{% load countries %}#}
{% block content %}
    <!-- Content wrapper -->
    <div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">{#Account Settings /#}</span> Add an Account
        </h4>
        {% for msg in messages %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                {{ msg }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <h5 class="card-header">Profile Details</h5>
                    <!-- Account -->
                    <div class="card-body">
                        <div class="d-flex align-items-start align-items-sm-center gap-4">
                            <img
                                    src="{% static '/assets/img/avatars/1.png' %}"
                                    alt="user-avatar"
                                    class="d-block rounded"
                                    height="100"
                                    width="100"
                                    id="uploadedAvatar"
                            />
                            <div class="button-wrapper">
                                <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                                    <span class="d-none d-sm-block">Upload new photo</span>
                                    <i class="bx bx-upload d-block d-sm-none"></i>
                                    <input
                                            type="file"
                                            id="upload"
                                            class="account-file-input"
                                            hidden
                                            accept="image/png, image/jpeg"
                                    />
                                </label>
                                <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
                                    <i class="bx bx-reset d-block d-sm-none"></i>
                                    <span class="d-none d-sm-block">Reset</span>
                                </button>

                                <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
                            </div>
                        </div>
                    </div>
                    <hr class="my-0"/>
                    <div class="card-body">
                        <form method="POST" action=""> {# id="formAccountSettings" onsubmit="return false" #}
                            {% csrf_token %}
                            <div class="row">
                                <div class="mb-3 col-md-6">
                                    <label for="{{ form.username.id_for_label }}"
                                           class="form-label">{{ form.username.label }}</label>
                                    <input
                                            class="form-control"
                                            type="text"
                                            id="{{ form.username.id_for_label }}"
                                            name="{{ form.username.html_name }}"
                                            value="{{ form.username.value }}"
                                            autofocus
                                            readonly
                                    />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="{{ form.email.id_for_label }}"
                                           class="form-label">{{ form.email.label }}</label>
                                    <input
                                            class="form-control"
                                            type="text"
                                            id="{{ form.email.id_for_label }}"
                                            name="{{ form.email.html_name }}"
                                            value="{{ form.email.value }}"
                                            placeholder=""
                                    />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="{{ form.password.id_for_label }}"
                                           class="form-label">{{ form.password.label }}</label>
                                    <input
                                            class="form-control"
                                            type="password"
                                            id="{{ form.password.id_for_label }}"
                                            name="{{ form.password.html_name }}"
                                            value=""
                                            placeholder=""
                                    />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for=""
                                           class="form-label">CONFIRM PASSWORD</label>
                                    <input
                                            class="form-control"
                                            type="password"
                                            id="password_confirmation_id"
                                            name="password_confirmation"
                                            value=""
                                            placeholder=""
                                    />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="{{ form.first_name.id_for_label }}"
                                           class="form-label">{{ form.first_name.label }}</label>
                                    <input
                                            class="form-control"
                                            type="text"
                                            id="{{ form.first_name.id_for_label }}"
                                            name="{{ form.first_name.html_name }}"
                                            value="{{ form.first_name.value }}"
                                            autofocus
                                    />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="{{ form.last_name.id_for_label }}"
                                           class="form-label">{{ form.last_name.label }}</label>
                                    <input class="form-control" type="text" name="{{ form.last_name.html_name }}"
                                           id="{{ form.last_name.id_for_label }}" value="{{ form.last_name.value }}"/>
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="{{ form.organization.id_for_label }}"
                                           class="form-label">{{ form.organization.label }}</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            id="{{ form.organization.id_for_label }}"
                                            name="{{ form.organization.html_name }}"
                                            value="{{ form.organization.value }}"
                                    />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label class="form-label"
                                           for="{{ form.phone_number.id_for_label }}">{{ form.phone_number.label }}</label>
                                    <div class="input-group input-group-merge">
                                        <span class="input-group-text">US (+1)</span>
                                        <input
                                                type="text"
                                                id="{{ form.phone_number.id_for_label }}"
                                                name="{{ form.phone_number.html_name }}"
                                                class="form-control"
                                                value="{{ form.phone_number.value }}"
                                                placeholder=""
                                        />
                                    </div>
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="{{ form.address.id_for_label }}"
                                           class="form-label">{{ form.address.label }}</label>
                                    <input type="text" class="form-control" id="{{ form.address.id_for_label }}"
                                           name="{{ form.address.html_name }}"
                                           value="{{ form.address.value }}"
                                           placeholder=""/>
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="{{ form.state.id_for_label }}"
                                           class="form-label">{{ form.state.label }}</label>
                                    <input class="form-control" type="text" id="{{ form.state.id_for_label }}"
                                           name="{{ form.state.html_name }}"
                                           value="{{ form.state.value }}"
                                           placeholder=""/>
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="{{ form.zipcode.id_for_label }}"
                                           class="form-label">{{ form.zipcode.label }}</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            id="{{ form.zipcode.id_for_label }}"
                                            name="{{ form.zipcode.html_name }}"
                                            value="{{ form.zipcode.value }}"
                                            placeholder=""
                                            maxlength="6"
                                    />
                                </div>
                            </div>
                            <div class="mt-2">
                                <button type="submit" class="btn btn-primary me-2">Save changes</button>
                                <a href="{% url 'account-tables' %}">
                                    <button type="button" class="btn btn-outline-secondary">Cancel</button>
                                </a>
                            </div>
                        </form>
                    </div>
                    <!-- /Account -->
                </div>
            </div>
        </div>
    </div>
    <!-- / Content -->
{% endblock %}
